
body{
  background-color: antiquewhite;
  text-align: center;
}

h1,h2{
    color: lightcoral;
}

a{
    color: lightcoral;
}
li{
    color: palevioletred;
}

li{
    display: inline;
    margin: 10px;
  }

  ul {
      list-style-type: none;
       margin: 0;
        padding: 0;
        font-size: x-large;  
    }
a:hover {
          background-color: pink;
          }
a:link {
    color:lightcoral;
  }
  a:active {
    color: blue;
  }
figcaption {
    display: block;
}



  
  
 
 